In [2]:
import pandas as pd
import datetime as dr

In [4]:
# The path to our CSV file
ks = "Resources/kickstarter.csv"
sp = "Resources/stocks.csv"

# Read our Kickstarter data into pandas
kickstarter_df = pd.read_csv(ks)

stocks_df = pd.read_csv(sp)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-05-04,879.210022,907.849976,879.210022,907.239990,907.239990,7038840000
1,2009-05-05,906.099976,907.700012,897.340027,903.799988,903.799988,6882860000
2,2009-05-06,903.950012,920.280029,903.950012,919.530029,919.530029,8555040000
3,2009-05-07,919.580017,929.580017,901.359985,907.390015,907.390015,9120100000
4,2009-05-08,909.030029,930.169983,909.030029,929.229980,929.229980,8163280000

In [10]:
# drop extraneous stock columns

stocks_df = stocks_df.drop(['High', 'Low', 'Adj Close', 'Volume'], axis=1)
stocks_df.head()

         Date        Open       Close
0  2009-05-04  879.210022  907.239990
1  2009-05-05  906.099976  903.799988
2  2009-05-06  903.950012  919.530029
3  2009-05-07  919.580017  907.390015
4  2009-05-08  909.030029  929.229980

In [13]:
kickstarter_df["launched"] = kickstarter_df["launched"].str.split(pat=" ", n=1, expand=True)
kickstarter_df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [15]:
#2 smaller scripts that matches dates from two pandas datasets and appends stock data

launched_merge = pd.merge(kickstarter_df, stocks_df, how="left", left_on="launched", right_on="Date")
launched_merge.head(50)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,Date,Open,Close
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.00,failed,0,GB,0.00,0.00,1533.95,2015-08-11,2102.659912,2084.070068
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02,2421.00,failed,15,US,100.00,2421.00,30000.00,NaN,NaN,NaN
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.00,failed,3,US,220.00,220.00,45000.00,NaN,NaN,NaN
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.00,failed,1,US,1.00,1.00,5000.00,NaN,NaN,NaN
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04,1283.00,canceled,14,US,1283.00,1283.00,19500.00,NaN,NaN,NaN
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26,52375.00,successful,224,US,52375.00,52375.00,50000.00,2016-02-26,1954.949951,1948.050049
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.0,2014-12-01,1205.00,successful,16,US,1205.00,1205.00,1000.00,2014-12-01,2065.780029,2053.439941
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.0,2016-02-01,453.00,failed,40,US,453.00,453.00,25000.00,2016-02-01,1936.939941,1939.380005
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.0,2014-04-24,8233.00,canceled,58,US,8233.00,8233.00,125000.00,2014-04-24,1881.969971,1878.609985
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.0,2014-07-11,6240.57,canceled,43,US,6240.57,6240.57,65000.00,2014-07-11,1965.760010,1967.569946
10,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.0,2013-09-09,0.00,failed,0,CA,0.00,0.00,2406.39,2013-09-09,1656.849976,1671.709961
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.0,2013-03-09,12700.00,successful,100,US,12700.00,12700.00,12500.00,NaN,NaN,NaN
12,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.0,2014-09-02,0.00,failed,0,US,0.00,0.00,5000.00,2014-09-02,2004.069946,2002.280029
13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.0,2016-02-09,0.00,failed,0,US,0.00,0.00,200000.00,2016-02-09,1848.459961,1852.209961
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.0,2017-04-05,94175.00,successful,761,GB,57763.78,121857.33,6469.73,2017-04-05,2366.590088,2352.949951
15,1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.0,2015-01-29,664.00,failed,11,US,664.00,664.00,2500.00,2015-01-29,2002.449951,2021.250000
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.0,2014-10-09,395.00,failed,16,US,395.00,395.00,1500.00,2014-10-09,1967.680054,1928.209961
17,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.0,2015-04-10,789.00,failed,20,US,789.00,789.00,3000.00,2015-04-10,2091.510010,2102.060059
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.0,2012-08-02,250.00,successful,7,US,250.00,250.00,250.00,2012-08-02,1375.130005,1365.000000
19,1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.0,2012-05-03,1781.00,failed,40,US,1781.00,1781.00,5000.00,2012-05-03,1402.319946,1391.569946
20,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.0,2013-11-25,34268.00,successful,624,US,34268.00,34268.00,20000.00,2013-11-25,1806.329956,1802.479980
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.0,2017-08-08,1.00,failed,1,AU,0.00,0.81,2026.10,2017-08-08,2478.350098,2474.919922
22,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.0,2014-05-16,650.00,failed,12,US,650.00,650.00,3500.00,2014-05-16,1871.189941,1877.859985
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.0,2015-01-26,48.00,failed,3,NO,6.18,6.29,65.55,2015-01-26,2050.419922,2057.090088
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.0,2014-10-23,701.66,successful,66,US,701.66,701.66,175.00,2014-10-23,1931.020020,1950.819946
25,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.0,2010-12-07,15827.00,successful,147,US,15827.00,15827.00,10000.00,2010-12-07,1227.250000,1223.750000
26,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.0,2015-12-06,0.00,failed,0,GB,0.00,0.00,17489.65,NaN,NaN,NaN
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.0,2014-11-14,48905.00,successful,571,CA,43203.25,42174.03,15313.04,2014-11-14,2039.739990,2039.819946
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.0,2015-12-29,112.38,successful,27,GB,167.70,160.60,142.91,2015-12-29,2060.540039,2078.360107
29,100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.0,2017-04-03,57577.31,successful,840,US,10120.00,57577.31,50000.00,2017-04-03,2362.340088,2358.840088
30,1000115172,Daily Brew Coffee,Food Trucks,Food,GBP,2015-03-31,3500.0,2015-03-01,21.00,failed,1,GB,32.42,31.09,5181.12,NaN,NaN,NaN
31,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08,1000.0,2016-09-07,47266.00,successful,549,US,11253.00,47266.00,1000.00,2016-09-07,2185.169922,2186.159912
32,1000120151,Feather Cast Furled Fly Fishing Leaders,Product Design,Design,AUD,2015-08-22,2000.0,2015-07-23,2000.00,successful,18,AU,1473.62,1427.35,1427.35,2015-07-23,2114.159912,2102.149902
33,1000120287,BB130A,Public Art,Art,USD,2013-03-24,25000.0,2013-02-12,1395.00,failed,30,US,1395.00,1395.00,25000.00,2013-02-12,1517.010010,1519.430054
34,100012079,Chris Eger Band - New Nashville Record!,Music,Music,USD,2014-08-13,12000.0,2014-07-14,13260.00,successful,92,US,13260.00,13260.00,12000.00,2014-07-14,1969.859985,1977.099976
35,1000129669,Squatch Watchers,Webseries,Film & Video,USD,2013-08-23,10000.0,2013-07-24,1373.37,failed,54,US,1373.37,1373.37,10000.00,2013-07-24,1696.060059,1685.939941
36,1000131947,Arrows & Sound Debut Album,Indie Rock,Music,USD,2012-05-19,4000.0,2012-04-19,8641.34,successful,157,US,8641.34,8641.34,4000.00,2012-04-19,1385.079956,1376.920044
37,1000132945,Zen in America: a film on Zen Buddhism in Nort...,Documentary,Film & Video,USD,2013-10-21,10000.0,2013-09-21,15663.00,successful,213,US,15663.00,15663.00,10000.00,NaN,NaN,NaN
38,1000134913,Galaxy: Winnie and Friends,Illustration,Art,USD,2016-01-27,3000.0,2015-12-23,17.00,failed,2,US,17.00,17.00,3000.00,2015-12-23,2042.199951,2064.290039
39,1000146991,Help Scott Reynolds Make a New Record!,Indie Rock,Music,USD,2012-09-02,15000.0,2012-08-03,17499.99,successful,277,US,17499.99,17499.99,15000.00,2012-08-03,1365.449951,1390.989990
40,1000149007,Unschooling To University Book Project,Nonfiction,Publishing,CAD,2018-01-19,3000.0,2017-11-20,592.00,live,24,CA,185.65,472.88,2396.36,2017-11-20,2579.489990,2582.139893
41,1000153208,Phil Younger - Slow Down (Official Music Video),Music,Music,USD,2016-12-20,2100.0,2016-12-09,2100.00,successful,34,US,83.00,2100.00,2100.00,2016-12-09,2249.729980,2259.530029
42,1000160286,"""THE RETURN"" book project",Photography,Photography,USD,2013-12-13,15000.0,2013-11-13,23907.00,successful,232,US,23907.00,23907.00,15000.00,2013-11-13,1764.369995,1782.000000
43,1000170964,Penny Bingo Playing Card Game fun for the whol...,Tabletop Games,Games,USD,2017-03-27,1500.0,2017-03-02,856.00,failed,25,US,324.00,856.00,1500.00,2017-03-02,2394.750000,2381.919922
44,1000171141,"The Please, Please Me: Studio Premiere",Pop,Music,USD,2012-09-01,10000.0,2012-07-15,12656.00,successful,181,US,12656.00,12656.00,10000.00,NaN,NaN,NaN
45,1000182258,WE ARE ONE: STREET MUSIC OF NEW ORLEANS,Documentary,Film & Video,USD,2013-10-01,2500.0,2013-08-27,0.00,failed,0,US,0.00,0.00,2500.00,2013-08-27,1652.540039,1630.479980
46,1000183112,Hot Chicken Takes Over.,Restaurants,Food,USD,2014-10-16,40000.0,2014-09-16,63401.00,successful,855,US,63401.00,63401.00,40000.00,2014-09-16,1981.930054,1998.979980
47,1000184224,Star and the Snowman,Narrative Film,Film & Video,USD,2013-02-23,8000.0,2013-01-24,9401.00,successful,154,US,9401.00,9401.00,8000.00,2013-01-24,1494.810059,1494.819946
48,1000190427,Seas of Iron,Tabletop Games,Games,USD,2013-07-19,3000.0,2013-06-19,8105.00,successful,218,US,8105.00,8105.00,3000.00,2013-06-19,1651.829956,1628.930054
49,1000197321,(In)visible Empire Tees,Public Art,Art,USD,2016-01-02,1200.0,2015-11-22,90.00,failed,4,US,90.00,90.00,1200.00,NaN,NaN,NaN